{% if section.settings.enable_share %}
<div class="share-navigation">
  <div class="share-toggle">
    <i class="fas fa-share-alt"></i>
  </div>
  <div class="share-menu">
    {% if section.settings.enable_facebook %}
    <a href="#" class="share-btn facebook" data-platform="facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    {% endif %}
    
    {% if section.settings.enable_twitter %}
    <a href="#" class="share-btn twitter" data-platform="twitter">
      <i class="fab fa-twitter"></i>
    </a>
    {% endif %}
    
    {% if section.settings.enable_whatsapp %}
    <a href="#" class="share-btn whatsapp" data-platform="whatsapp">
      <i class="fab fa-whatsapp"></i>
    </a>
    {% endif %}
    
    {% if section.settings.enable_telegram %}
    <a href="#" class="share-btn telegram" data-platform="telegram">
      <i class="fab fa-telegram-plane"></i>
    </a>
    {% endif %}
    
    {% if section.settings.enable_copy %}
    <a href="#" class="share-btn copy" data-platform="copy">
      <i class="fas fa-link"></i>
    </a>
    {% endif %}
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Share Navigation",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_share",
      "label": "Enable share navigation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_facebook",
      "label": "Enable Facebook sharing",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_twitter",
      "label": "Enable Twitter sharing",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_whatsapp",
      "label": "Enable WhatsApp sharing",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_telegram",
      "label": "Enable Telegram sharing",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_copy",
      "label": "Enable Copy Link",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Share Navigation",
      "category": "Social"
    }
  ]
}
{% endschema %} 